<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="/images/Tareq.jpg" alt="A happy smiling customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="/images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        I love Anna soooo much. She is my Queen, my sun, my world and my
        everything. I promise her happines and our happines all her life and our
        life. Inshallah we will be together soon. a.k.a MARRIED YEEEY
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="/images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Tareq Ahmed</h3>
            <p class="quote__organization">Aleabqa International - COB</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
